@charset 'utf-8';
body{
	color:blue;
      font-size:16px;
}
h1{   text-align:center;
	font-family:正方姚体，黑体，宋体；
		font-size:20px;
	color：red;}
p{     line-height: 2em;
    }
.nav{background-color: #99FF00;
	 margin-right: 15%;
	text-align:center;
	font-size:18px;	
      margin-left:15%;}
div{border:5px dotted green;
    width:80%;
    margin:0px auto;
    padding:10px;
	background-color: #C6BBBB;
    }
p.center{text-align: center;}
p.wenzi{color:#8F5D5D;
        font-style:oblique;
	font-size:18px;
         }
		/* CSS Document */

